HostName="localhost"
GeminiPort=1965
WebPort=9090
GeminiCertStore="/tmp"
MarkdownDir="content"
WebTemplateDir="templates"
GeminiOutputDir="_gemini"
WebOutputDir="_web"
GeminiFooter = "=> https://creativecommons.org/licenses/by-sa/4.0/ Licensed under CC BY-SA 4.0"
