[Content]
ContentDir = "./example/content"
Wikilinks = true

[Web]
Enabled = true
Port = 9090
AssetsDir = "./example/assets"
TemplateDir = "./example/templates"
OutputDir = "_web"

[Gemini]
Enabled = true
Hostname = "localhost"
Port = 1965
CertStore = "/tmp"
OutputDir = "_gemini"

[[Streams]]
Name = "Blog"
Slug = "blog"
ContentPath = "./example/content/blog"
